# www.airteltour.com 과 airteltour.com의 세션공유
#php_value session.cookie_domain .airteltour.com

<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /


 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /index.php/$1 [L]

</IfModule>
